*{
    margin: 0;
    padding: 0;
}


article{
    width: 100%;
    max-width: 400px;
    background-color: blueviolet;
    padding: 5%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

article a{
    background-color: navy;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 15px;
}